body{
    margin:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.botao{
    width: 100px;
    height: 50px;
    border: none;
    background-color: blueviolet;
    color: white;
    border-radius: 10%;
}
.botao:hover{
    cursor: pointer;
}

.secreta{
    font-size: 40pt;
    color: red;
    font-family: sans-serif;
    display:none;
}